version: '3.8'

services:

  postgresSp4ce:
    container_name: "postgresSp4ce"
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=mario
      - POSTGRES_PASSWORD=user1234
      - POSTGRES_DB=sp4ceSurvival
    volumes:
      - postgresSp4ce:/var/lib/postgresql/data

  sp4ce-survival-back:
    build: ./sp4ce-survival_backend
    container_name: "sp4ce-survival_back"
    restart: always
    environment:
      - POSTGRES_CONNECTION=r2dbc:postgresql://mario:user1234@postgresSp4ce/sp4ceSurvival
    ports:
      - '6969:6969'
    depends_on:
      - postgresSp4ce

volumes:
  postgresSp4ce:
    driver: local